---
---

@charset "utf-8";

// Our variables
$base-font: "Proxima Nova", "Open Sans", Helvetica, Arial, sans-serif;
$big-font: "Novecento Sans", "Proxima Nova", "Open Sans", Helvetica, Arial, sans-serif;
$base-font-size:   1em;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     1rem;
//Brand colours
$white: hsl(0, 0, 100);
$dark-grey: hsl(240, 5, 25);
$pink: #e40079;
$blue: #18263c;
$orange: #ef7f31;


$text-color:  $dark-grey;
$bg-color:    $white;
$brand-color: $pink;

// Width of the content area
$content-width:    80rem;

//Vertical spacing
$vs-rem: 4rem;
$vs-vw: 4vw;
$vs-rem--lg: 6rem;
$vs-vw--lg: 6vw;

$small-width: 40em;
$medium-width: 50em;
$large-width: 80em;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "mixins",
        "base",
        "navbar",
        "hero",
        "clients",
        "grid",
        "panel",
        "cover",
        "form",
        "case-study",
        "utilities",
        "svg-animation"
        ;
