<div class="about-text">
  <p>Lick is about connectedness &mdash; connecting retail and brands, connecting you and your shoppers, and connecting you to a full range of shopper marketing services.</p>
  <p>With our experience, insights and analysis we help you understand and speak with your customers at every touch point in their shopper journey.</p>
  <p>Building on insights and our existing relationships we provide integrated end-to-end shopping experiences.</p>
</div>
<!-- <img src="{{ "/img/clients.jpg" | prepend: site.baseurl }}" alt="A selection of our clients"> -->
