<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Set initial viewport width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Site Title -->
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <!-- Site Description -->
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Canonical URL -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="apple-touch-icon" sizes="180x180" href=""{{ /img/icons/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" href="{{ "/img/icons/favicon-32x32.png" sizes="32x32" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" href="{{ "/img/icons/favicon-16x16.png" sizes="16x16" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/img/icons/manifest.json" | prepend: site.baseurl }}">
  <link rel="mask-icon" href="{{ "/img/icons/safari-pinned-tab.svg" | prepend: site.baseurl }}" color="#e70072">
  <!-- <link rel="shortcut icon" href="{{ "/img/icons/favicon.ico" | prepend: site.baseurl }}"> -->
  <meta name="msapplication-config" content="{{ "/img/icons/browserconfig.xml" | prepend: site.baseurl }}">
  <meta name="theme-color" content="#e70072">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans|Raleway:900,400' rel='stylesheet' type='text/css'>
</head>
