<div class="u-center-block">
  <div class="u-big-text u-vertical-space">
    <p>At Lick we like to Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas esse, cum quis aliquam sit dolorem id! Veniam corporis tempore commodi doloribus, reiciendis, voluptas nostrum soluta repudiandae sed minus possimus accusantium facilis eveniet officia ullam sint, enim eligendi. Praesentium cumque officiis adipisci harum veniam maxime repellendus facilis magnam. Fugit, asperiores, et!</p>
  </div>
  <img src="img/group-draft.jpg" alt="The whole Lick team">
</div>
