
  <input class="checkbox" type="radio" id="input-1" name="tab-radios" />
  <input class="checkbox" type="radio" id="input-2" name="tab-radios" />
  <input class="checkbox" type="radio" id="input-3" name="tab-radios" />
  <input class="checkbox" type="radio" id="input-4" name="tab-radios" />
  <input class="checkbox" type="radio" id="input-5" name="tab-radios" />
  <input class="checkbox" type="radio" id="input-6" name="tab-radios" />
  <input class="checkbox" type="radio" id="input-7" name="tab-radios" />
  <input class="checkbox" type="radio" id="input-8" name="tab-radios" />
  <!-- <input class="checkbox" type="radio" id="input-close" name="tab-radios" /> -->

  <div class="tabs">
    <label class="tabs__label" for="input-1" id="label-1">Creative</label>
    <label class="tabs__label" for="input-2" id="label-2">Artwork</label>
    <label class="tabs__label" for="input-3" id="label-3">Digital</label>
    <label class="tabs__label" for="input-4" id="label-4">Retail Lab</label>
    <label class="tabs__label" for="input-5" id="label-5">Experiential</label>
    <label class="tabs__label" for="input-6" id="label-6">Print</label>
    <label class="tabs__label" for="input-7" id="label-7">Fulfilment</label>
    <label class="tabs__label" for="input-8" id="label-8">Permanent</label>
    <!-- <label class="tabs__label tabs__label__close" for="input-close" id="label-close">&times;</label> -->
  </div>
  <!--<div class="tabs__content">
    <p id="tab-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam voluptatum error a praesentium, nobis commodi autem explicabo iure recusandae ex perspiciatis repellendus molestiae ut id doloribus. Quasi at, quibusdam molestiae.</p>
    <p id="tab-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error cum ipsum aliquam expedita minus, dolores reprehenderit asperiores amet iure facere ad, quae labore quibusdam excepturi eius repudiandae adipisci fugit saepe?</p>
    <p id="tab-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla esse soluta, in atque, vel autem quam, a, aliquid fuga obcaecati dolores molestiae. Ipsam, harum quo vel. Nobis hic laborum fugiat!</p>
    <p id="tab-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores facere, nisi repellendus corporis, illo error blanditiis odio quae dolorem voluptatem similique architecto, nobis quibusdam consequuntur sapiente. Nobis accusamus, facere sint.</p>
    <p id="tab-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ut non illum totam nobis, perspiciatis fuga, vero repellat, voluptatibus libero vitae. Mollitia et accusantium rem, quisquam vitae commodi eveniet ducimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ut non illum totam nobis, perspiciatis fuga, vero repellat, voluptatibus libero vitae. Mollitia et accusantium rem, quisquam vitae commodi eveniet ducimus!</p>
    <p id="tab-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at, ullam, quod consequatur odio quibusdam nesciunt totam illo quis a officiis natus veniam adipisci ipsam labore, iure dolorum! Commodi, nulla?</p>
    <p id="tab-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque officiis, et labore qui obcaecati deleniti iure explicabo nam assumenda quidem optio culpa amet quaerat nesciunt repellat unde necessitatibus error ipsum.</p>
    <p id="tab-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure culpa dolorum laborum saepe corporis quam dolorem repellat, nam illum veniam facilis architecto temporibus animi quae rem eveniet quia mollitia soluta!</p>
  </div>-->

    <div class="u-t-center">
      <p>Lick is about connectedness &mdash; connecting retail and brands, connecting you and your shoppers, and connecting you to a full range of shopper marketing services.</p>
      <p>With our experience, insights and analysis we help you understand and speak with your customers at every touch point in their shopper journey.</p>
      <p>Building on insights and our existing relationships we provide integrated end-to-end shopping experiences.</p>
    </div>
    <img src="{{ "/img/clients.jpg" | prepend: site.baseurl }}" alt="A selection of our clients">
