.case-study {
  margin-bottom: -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  &__copy, &__img {
    position: relative;
    width: 100%;
    min-height: 35rem;
    margin-bottom: 2rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  &__img {
    background-size: cover;
    background-position: center center;
  }
  &__copy {
    line-height: 1.8;
    & > * {
      margin-bottom: 1.5rem;
    }
  }
}

@media (min-width: 40em) {
  .case-study {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: -2rem;
    &__copy, &__img {
      width: 47%;
      width: calc(50% - 2rem);
      margin-left: 2rem;
    }
  }
}
