.cover {
  position: relative;
  padding: 1rem;
  min-height: 600px;
  min-height: 100vh;
  @include flex-center;
  flex-direction: column;
  color: $white;
  overflow: hidden;
  background-color: hsl(240, 10, 20); /*Ensure text shows without image bg*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  @include mq-medium {
    padding: 0;
    flex-direction: row;
  }
  &--lab {
    & > * {
      z-index: 50;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: hsla(240, 100, 10, 0.2);
      z-index: 0;
    }
  }
  &__nav {
    width: 100%;
    margin-top: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    @include mq-medium {
      position: absolute;
      margin: 0;
      bottom: 50%;
      -webkit-transform: translateY(50%);
      transform: translateY(50%);
    }
  }
  &__arrow {
    &--left {
      margin-right: auto;
      @include mq-medium {
        left: 2rem;
      }
    }
    &--right {
      margin-left: auto;
      @include mq-medium {
        right: 2rem;
      }
    }
  }
  &__box {
    width: 100%;
    background: hsla(0, 0, 0, 0.75);
    z-index: 10;
    @include mq-medium {
      margin: 0;
      max-width: 48rem;
      height: auto;
    }
    &--primary {
      background: rgba($brand-color, 0.8);
    }
    &--lab {
      color: $white;
      background: transparent;
      @include mq-small {
        max-width: 35rem;
      }
    }
  }
  &__heading {
    padding: 1rem;
    border-bottom: 1px solid;
    font-size: 1.125rem;
    @include mq-medium {
      font-size: 3rem;
    }
    &--lab {
      margin-bottom: 1rem;
      padding: 0.5rem;
      border: 1px solid;
    }
  }
  &__content {
    padding: 1rem;
    @include mq-medium {
      padding: 3.5rem;
    }
    &--lab {
      padding: 0;
      @include mq-medium {
        padding: 0;
      }
    }
  }
  &__lab-logo {
    width: 100%;
    @include mq-medium {
      max-width: 40rem;
    }
  }
}
