.cover {
  position: relative;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  &-video {
    width: 100%;
    height: 52vw; // 16:9 ratio of width to height at 1280px wide
    max-height: 720px; // Stop it growing taller once width hits max
  }
  &__box {
    /* width: 100%;*/
    /* height: 100%;*/
    color: #ffffff;
    background: hsla(0, 0, 0, 0.7);
    background: -webkit-linear-gradient(
      transparent,
      rgba(0,0,0,0.8) 25%
      );
    background: linear-gradient(
      transparent,
      rgba(0,0,0,0.8) 25%
      );
    z-index: 10;
    &__heading {
      padding: 1rem;
      border-bottom: 1px solid #ffffff;
      text-align: center;
    }
    &__content {
      padding: 1rem;
      line-height: 1.8;
      text-align: center;
    }
  }
}

@media (min-width: 40em) {
  .cover {
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    &__box {
      width: 70%;
      height: auto;
      background: rgba(0, 0, 0, 0.7);
      &__heading {
      }
      &__content {
        padding: 3rem;
        font-size: 1.25rem;
      }
    }
  }
}
