@font-face {
    font-family: "Novecento Sans W01";
    src:url($novecento-woff2) format("woff2"), url($novecento-woff) format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "Proxima Nova W01";
    src:url($proxima-nova--bold-woff) format("woff2"), url($proxima-nova--bold-woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "Proxima Nova W01";
    src:url($proxima-nova-woff) format("woff2"), url($proxima-nova--italic-woff) format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "Proxima Nova W01";
    src: url($proxima-nova--italic-woff2) format("woff2"),url($proxima-nova--italic-woff) format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: fallback;
}
