.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  &--center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
  }
  $gutter-small: 1rem;
  $gutter-large: 2rem;
  &--gutter {
    margin-left: ($gutter-small * -1);
    margin-bottom: ($gutter-small * -1);
    @include mq-medium {
      margin-left: ($gutter-large * -1);
      margin-bottom: ($gutter-large * -1);
    }
  }
  &__item {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    &--icons {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
            flex: 0 0 25%;
      min-height: 5rem;
      width: 10vw;
      height: 10vw;
      max-width: 12rem;
      max-height: 12rem;
      @include flex-center;
      @include mq-small {
        -ms-flex-preferred-size: 12.5%;
                flex-basis: 12.5%;
      }
      @include mq-medium {
        -ms-flex-preferred-size: 10%;
                flex-basis: 10%;
      }
      & > a {
        width: 100%; /*Weird old Chrome fix to ensure icon links fill their container*/
      }
    }
    &--work {
      height: 20rem;
      height: 50vw;
      @include mq-small {
        height: 15rem;
        height: (50/1.5) * 1vw;
        -ms-flex-preferred-size: 50%;
                flex-basis: 50%;
      }
      @include mq-medium {
        height: 15rem;
        height: (33/1.5) * 1vw;
        -ms-flex-preferred-size: 33%;
                flex-basis: 33%;
      }
      @include mq-large {
        height: 15rem;
        height: (25/1.5) * 1vw;
        -ms-flex-preferred-size: 25%;
                flex-basis: 25%;
      }
    }
    &--contact {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      @include mq-small {
        -ms-flex-preferred-size: 50%;
                flex-basis: 50%;
      }
      @include mq-large {
        -ms-flex-preferred-size: 33%;
                flex-basis: 33%;
      }
    }
    &--quarter {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      @include mq-small {
        -ms-flex-preferred-size: 50%;
                flex-basis: 50%;
      }
      @include mq-medium {
        -ms-flex-preferred-size: 33%;
                flex-basis: 33%;
      }
      @include mq-large {
        -ms-flex-preferred-size: 25%;
                flex-basis: 25%;
      }
    }
    &--half {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      @include mq-small {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
      }
      @include mq-large {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 33%;
                flex: 0 0 33%;
      }
    }
    &--gutter {
        padding-left: $gutter-small;
        padding-bottom: $gutter-small;
        @include mq-medium {
          padding-left: $gutter-large;
          padding-bottom: $gutter-large;
        }
    }
  }
}
