.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  &--center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }
  &--gutter {
    margin-left: -1rem;
    margin-bottom: -1rem;
  }
  &__item {
    position: relative;
    &--clients {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 10%;
              flex: 0 0 10%;
      min-width: 5rem;
      min-height: 5rem;
      width: 10vw;
      height: 10vw;
      max-width: 12rem;
      max-height: 12rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    &--work {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 100%;
              flex: 1 0 100%;
      /* min-width: 20rem;*/
      min-height: 20rem;
      /* &:nth-last-child(2):nth-child(4n) {*/
      /*   min-width: 33%;*/
      /* }*/
      @include mq-small {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
      }
      @include mq-medium {
        -ms-flex-preferred-size: 33%;
            flex-basis: 33%;
      }
      @include mq-large {
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
      }
    }
    &--half {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 50%;
              flex: 1 0 50%;
      min-width: 18em;
    }
    &--third {
      margin-left: 1rem;
      margin-bottom: 1rem;
      -webkit-box-flex: 1;
          -ms-flex: 1 0 32%;
              flex: 1 0 32%;
      min-width: 15rem;
      min-height: 15rem;
      width: 20vw;
      height: 20vw;
      /* max-width: calc(33% - 1rem);*/
      /* max-height: calc(33% - 1rem);*/
      /* &:not(:last-child) {*/
      /*   margin-right: 1rem;*/
      /*   margin-bottom: 1rem;*/
      /* }*/
    }
  }
}
