//Grid layout [used in the work section]
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem; //Offsets the padding on grid__items
  margin-bottom: -0.5rem; //Offets the padding on grid__items
  flex-direction: row;
  &__item {
    flex: 1 0 auto; //Allows the __items to fill empty space
    padding-left: 0.5rem; //Creates a left gutter
    padding-bottom: 0.5rem; //Creates a right gutter
    min-width: 13rem; //When __items hit this width they become full-width !!!SAFARI BUG!!!
    &--4 {
      width: 33%;
    }
    &--6 {
      width: 50%;
    }
    &--8 {
      width: 66%;
    }
    &--12 {
      width: 100%;
    }
  }
}
