@mixin mq-small {
  @media (min-width: $small-width) {
    @content;
  }
}

@mixin mq-medium {
  @media (min-width: $medium-width) {
    @content;
  }
}

@mixin mq-large {
  @media (min-width: $large-width) {
    @content;
  }
}

@mixin flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
}

@mixin vertical-space {
  margin-bottom: $vs-rem;
  margin-bottom: $vs-vw;

  @media (min-width: 50em) {
    margin-bottom: $vs-rem--lg;
    margin-bottom: $vs-vw--lg;
  }
}

@mixin vertical-space--small {
  margin-bottom: ($vs-rem / 2);
  margin-bottom: ($vs-vw / 2);

  @media (min-width: 50em) {
    margin-bottom: ($vs-rem--lg / 2);
    margin-bottom: ($vs-vw--lg / 2);
  }
}

//https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
