.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: $text-color;
  background-color: hsl(0, 0, 100);
  fill: $text-color;
  z-index: 500;
  transition: all 0.2s ease;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(hsla(0, 0, 0, 0.5), transparent);
    opacity: 0;
    z-index: -100;
    transition: opacity 0.1s ease;
    will-change: opacity;
  }
}

.navbar {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  // color: $text-color;
  &__brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  &__logo {
    width: auto;
    height: 2rem;
    fill: $pink;
  }
  &__title {
    display: none;
  }
  &__container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsl(100, 100, 100);
    opacity: 0;
    pointer-events: none;
    text-align: center;
    transition: all 0.3s ease-in;
  }
  &__list {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    list-style-type: none;
    // color: $text-color;
    font-size: 8vw;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-weight: 900;
    transition: all 0.3s ease-in;
    will-change: transform, opacity;
  }
  &__item {
    margin: 0;
    margin-bottom: 0.25rem;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  &__link-icon {
    display: inline-block;
    margin-left: 0.25rem;
    width: 1.5rem;
    height: 100%;
    max-height: 1.25rem;
    fill: inherit;
  }
  &__icon-wrapper {
    position: relative;
    margin-left: auto;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer
  }
  &__icon,
  &__icon:before,
  &__icon:after {
    content: '';
    position: absolute;
    border-radius: 1em;
    height: 2px;
    width: 1.5rem;
    background: $text-color;
    transition: all 0.2s ease
  }

  &__icon {
    top: 0.75em
  }

  &__icon:before {
    top: -0.55em
  }

  &__icon:after {
    top: 0.55em
  }
}

.js-inverted {
  background-color: transparent;
  & .navbar__icon,
  & .navbar__icon:before,
  & .navbar__icon:after {
    background: hsl(100, 100, 100);
  }
  &:after {
    opacity: 1;
  }
  .navbar__logo {
    fill: hsl(100, 100, 100);
  }
}

.hamburgler-active {
  & .navbar__container {
    opacity: 1;
    pointer-events: auto;
  }
  & .navbar__list {
    transform: translate(-50%, -50%) scale(1);
  }
  & .navbar__icon {
    background: transparent;
    transform: rotate(-135deg)
  }
  & .navbar__icon:before,
  & .navbar__icon:after {
    top: 0;
    background: $text-color;
  }
  & .navbar__icon:before {
    transform: rotate(90deg);
  }
}

@media (min-width: 50em) {
  .header-nav {

  }
  .navbar {
    padding: 1rem;
    max-width: 82rem;
    margin-left: auto;
    margin-right: auto;
    &__brand {
      -webkit-box-align: center;
      -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }
    &__logo {
      height: 3rem;
      max-width: 4.5rem;
    }
    &__container {
      position: relative;
      margin: 0;
      padding: 0;
      background: transparent;
      opacity: 1;
      pointer-events: auto;
      transition: none;
    }
    &__list {
      position: static;
      display: inline;
      transform: none;
      transition: none;
    }
    &__item {
      margin: 0;
      margin-left: 1rem;
      float: left;
      font-size: 1rem;
      & a:hover, & a:focus {
        color: $pink;
        fill: $pink;
      }
      & a:focus {
        padding-top: 2px;
        border-bottom: 2px solid;
        outline: none;
      }
    }
    &__link-icon {
      vertical-align: middle;;
      padding-bottom: 3px;
      width: 1rem;
    }
    &__icon-wrapper {
      display: none;
    }
  }
  .hamburgler-active {
    & .navbar__list {
      transform: translate(0, 0) scale(1);
    }
  }
  .js-inverted {
    background-color: transparent;
    color: hsl(100, 100, 100);
    fill: hsl(100, 100, 100);
  }
}

@media (min-width: 70em) {
  .navbar {
    &__title {
      display: block;
      margin-left: 1rem;
      & > h1 {
        font-size: 1rem;
        letter-spacing: 2px;
      }
    }
  }
}
