.checkbox {
  display: none;
}

.tabs {
  position: relative;
  margin-bottom: 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: $text-color;
  border: 2px solid $text-color;
  &__label {
    font-size: 2.25rem;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 1px;
    // cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    &:nth-child(2n) {
      font-weight: 900;
    }
    &:hover {
      // color: $pink;
    }
    &__close {
      position: absolute;
      right: 0.35rem;
      bottom: -3.25rem;
      font-size: 2.5rem;
      line-height: 1;
      opacity: 0;
      z-index: 10;
    }
  }
  &__content {
    position: absolute;
    margin-bottom: 2rem;
    max-height: 0;
    background: #ffffff;
    box-shadow: 2px 2px 1px hsla(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    & p {
      margin: 0;
      max-height: 0;
      opacity: 0;
      overflow-y: hidden;
      /* transform: translate3d(0, -10px, 0);*/
      -webkit-transition: opacity 0.2s ease-in;
      transition: opacity 0.2s ease-in;
    }
  }
}

@for $i from 1 through 8 {
  #input-#{$i}:checked ~ .tabs {
      & #label-#{$i} {
        // color: $pink;
    }
    & #label-close {
      opacity: 0.5;
    }
  }
  #input-#{$i}:checked ~ .tabs__content {
    padding: 2rem;
    /* border: 2px solid;*/
    max-height: 100%;
    opacity: 1;
    & #tab-#{$i} {
    max-height: initial;
    opacity: 1;
    }
  }
}

@media (min-width: 40em) {
  .tabs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    &__label:not(#label-close) {
      font-size: 1.125rem;
      &:not(:last-child) {
        margin-right: 0.75rem;
      }
    }
  }
}
