.u-text-center {
    text-align: center;
}

.u-text-justify {
  text-align: justify;
}

.u-text-invert {
  color: $bg-color;
}

.u-text-fade {
  color: lighten($text-color, 20%);
}

.u-vertical-space:not(:last-child) {
  @include vertical-space;
}

.u-vertical-space--small:not(:last-child) {
    @include vertical-space--small;
}

.u-center-block {
  margin-left: 1rem;
  margin-right: 1rem;
  &--small {
    max-width: 38rem;
    @include mq-small {
      margin-left: auto;
      margin-right: auto;
    }
    @include mq-medium {
      max-width: 44rem;
    }
  }
  &--medium {
    max-width: 72rem;
    @include mq-large {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &--large {
    max-width: 105rem;
    @include mq-medium {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @include mq-large {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &--outline {
    padding: 2rem;
    border: 1px solid;
    @include mq-medium {
      padding: 2rem;
    }
  }
  &--contact {
    padding-bottom: 0;
  }
}

.u-icon {
  width: 80%;
  height: auto;
  max-height: 100%;
  &--grey {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
}

.u-16-9 {
  @include aspect-ratio(16, 9);
}

.u-square {
  @include aspect-ratio(1, 1);
}
