.u-object-fit {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
  min-width: 100%;
  max-width: 150%;
  -o-object-fit: cover;
     object-fit: cover;
}

.u-text-center {
    text-align: center;
}

.u-text-justify {
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
}

.u-text-invert {
  color: $bg-color;
}

.u-text-fade {
  color: lighten($text-color, 20%);
}

.u-vertical-space:not(:last-child) {
  @include vertical-space;
}

.u-vertical-space--small:not(:last-child) {
    @include vertical-space--small;
}

.u-center-block {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  @include mq-medium {
    margin-left: auto;
    margin-right: auto;
  }
  &--medium {
    max-width: 50rem;
  }
  &--large {
    padding-left: 0;
    padding-right: 0;
    max-width: 105rem;
    @include mq-medium {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  &--outline {
    padding: 1rem;
    border: 1px solid;
    @include mq-medium {
      padding: 2rem;
    }
  }
  &--contact {
    padding-bottom: 0;
  }
}

// .u-text-size {
//   // &--mid {
//   // @include mq-medium {
//   //   font-size: 1.333rem;
//   // }
// // }
//   // &--large {
//   //   font-size: calc(1.5rem + 1vw);
//   // }
// }

.u-icon {
  width: 70%;
  height: auto;
  max-height: 100%;
  &--grey {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
}
