.u-object-fit {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
  min-width: 100%;
  /* min-height: 100%;*/
  -o-object-fit: cover;
     object-fit: cover;
}

.u-t-center {
  text-align: center;
}
