---
layout: default
---

<!-- <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article> -->

<section class="section">
  <div class="cover">
    <div class="cover__box">
      <h1 class="cover__box__heading">Client Overview</h1>
      <p class="cover__box__content">{{ page.case_study.client_overview }}</p>
    </div>
    <img class="cover__img u-object-fit" src="{{ page.cover_image }}" alt="" />
  </div>
</section>
<section class="section">
  <div class="case-study">
    <div class="case-study__copy">
      {{content}}
    {% for file in page.assets %}
      <div class="case-study__img">
        <img src="{{ file.image }}" alt="{{ file.alt }}" />
      </div>
    {% endfor %}
  </div>
</section>
