---
layout: default
---

<section class="section">
  <div class="cover" style="background-image: url('{{ page.cover_image }}');">
    <div class="cover__box">
      <h1 class="cover__box__heading">Client Overview</h1>
      <p class="cover__box__content">{{ page.client_overview }}</p>
    </div>
    <!-- <img class="cover__img u-object-fit" src="{{ page.cover_image }}" alt="" /> -->
  </div>
</section>
<section class="section">
  <div class="case-study">
    <div class="case-study__copy">
      {{ content }}
    </div>
    {% for file in page.assets %}
      <div class="case-study__img" >
        <img src="{{ file.image }}" alt="{{ file.alt }}" />
      </div>
    {% endfor %}

</section>
