---
layout: default
---

<section class="section u-vertical-space">
  <div class="cover cover--lab" style="background-image: url('{{ page.cover_image }}');">
    {% if page.logo_image %}
      <div class="cover__box cover__box--lab">
        <img class="cover__lab-logo" src="/uploads/lab/lab-logo.svg" alt="Lab logo">
      </div>
    {% endif %}
    {% assign contents = page.content | strip_newlines %}
    {% if contents != "" %}
      <div class="cover__box cover__box--lab">
        {% if page.has_title == true %}
          <h1 class="cover__heading cover__heading--lab u-text-center">{{ page.title }}</h1>
        {% endif %}
        <div class="cover__content cover__content--lab u-text-justify">{{ content }}</div>
      </div>
    {% endif %}
      {% capture the_collection %}{{page.collection}}{% endcapture %}
      {% if page.collection %}
          {% assign document = site[the_collection] | sort: "position" %}
      {% endif %}

      {% for links in document %}
          {% if links.title == page.title %}

              {% unless forloop.first %}
                  {% assign prevurl = prev.url %}

                  {% assign prevtitle = prev.title %}
              {% endunless %}

              {% unless forloop.last %}
                  {% assign next = document[forloop.index] %}

                  {% assign nexturl = next.url %}

                  {% assign nexttitle = next.title %}
              {% endunless %}
          {% endif %}

          {% assign prev = links %}
      {% endfor %}

      {% if prevurl or nexturl %}
        <div class="cover__nav">
          {% if prevurl %}
            <a class="cover__arrow cover__arrow--left no-link-style" href="{{ prevurl }}">
              <svg class="i-arrow-left" viewBox="0 0 32 32" width="64" height="64" fill="none" stroke="currentcolor" stroke-width="6.25%">
                <path d="M20 30 L8 16 20 2"></path>
              </svg>
            </a>
          {% endif %}
          {% if nexturl %}
            <a class="cover__arrow cover__arrow--right no-link-style" href="{{ nexturl }}">
              <svg class="i-arrow--right" viewBox="0 0 32 32" width="64" height="64" fill="none" stroke="currentcolor" stroke-width="6.25%">
                <path d="M12 30 L24 16 12 2"></path>
              </svg>
            </a>
          {% endif %}
        </div>
      {% endif %}
  </div>
</section>
{% if page.work-assets %}
<section class="section u-vertical-space">
  <div class="grid grid--gutter u-center-block u-center-block--large">
    {% for image in page.work-assets %}
    <div class="grid__item grid__item--third">
      <img class="u-object-fit" src="{{ image }}">
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}
