---
layout: default
---

<section class="section u-vertical-space">
  <div class="cover cover--lab" style="background-image: url('{{ page.cover_image }}');">
    <div class="cover__box cover__box--lab">
      <h1 class="cover__heading u-text-center">{{ page.title }}</h1>
      <div class="cover__content u-big-text u-text-justify">{{ content }}</div>
    </div>
      {% capture the_collection %}{{page.collection}}{% endcapture %}
      {% if page.collection %}
          {% assign document = site[the_collection] | sort: "position" %}
      {% endif %}

      {% for links in document %}
          {% if links.title == page.title %}

              {% unless forloop.first %}
                  {% assign prevurl = prev.url %}

                  {% assign prevtitle = prev.title %}
              {% endunless %}

              {% unless forloop.last %}
                  {% assign next = document[forloop.index] %}

                  {% assign nexturl = next.url %}

                  {% assign nexttitle = next.title %}
              {% endunless %}
          {% endif %}

          {% assign prev = links %}
      {% endfor %}

      {% if prevurl %}
        <a class="cover__nav cover__nav--left no-link-style" href="{{ prevurl }}">
          <svg class="i-arrow-left" viewBox="0 0 32 32" width="64" height="64" fill="none" stroke="currentcolor" stroke-width="6.25%">
            <path d="M20 30 L8 16 20 2"></path>
          </svg>
        </a>
      {% endif %}
      {% if nexturl %}
        <a class="cover__nav cover__nav--right no-link-style" href="{{ nexturl }}">
          <svg class="i-arrow--right" viewBox="0 0 32 32" width="64" height="64" fill="none" stroke="currentcolor" stroke-width="6.25%">
            <path d="M12 30 L24 16 12 2"></path>
          </svg>
        </a>
      {% endif %}
  </div>
</section>
<section class="section u-vertical-space">
  <div class="grid grid--gutter u-center-block u-center-block--large">
    {% for image in page.work-assets %}
    <div class="grid__item grid__item--third">
      <img class="u-object-fit" src="{{ image }}">
    </div>
    {% endfor %}
  </div>
</section>
