---
layout: default
---

<section class="section u-vertical-space">
  <div class="cover cover--lab" style="background-image: url('{{ page.cover_image }}');">
    <div class="cover__box cover__box--lab">
      <div class="cover__box__content u-big-text u-text-justify">{{ content }}</div>
    </div>
    {% assign pages = site.collections | sort:"position" %}
    {% if page.previous.url %}
    <a class="cover__nav cover__nav--left no-link-style" href="{{ page.previous.url }}">
      <svg class="i-arrow-left" viewBox="0 0 32 32" width="64" height="64" fill="none" stroke="currentcolor" stroke-width="6.25%">
        <path d="M20 30 L8 16 20 2"></path>
      </svg>
    </a>
    {% endif %}
    {% if page.next.url %}
    <a class="cover__nav cover__nav--right no-link-style" href="{{ page.next.url }}">
      <svg class="i-arrow--right" viewBox="0 0 32 32" width="64" height="64" fill="none" stroke="currentcolor" stroke-width="6.25%">
              <path d="M12 30 L24 16 12 2"></path>
      </svg>
    </a>
    {% endif %}
  </div>
</section>
<!-- <section class="section u-vertical-space">
  <div class="grid grid--gutter u-center-block u-center-block--large">
    {% for image in page.work-assets %}
    <div class="grid__item grid__item--third">
      <img class="u-object-fit" src="{{ image }}">
    </div>
    {% endfor %}
  </div>
</section> -->
