---
layout: default
---

<section class="section u-vertical-space">
  <div class="cover" style="background-image: url('{{ page.cover_image }}');">
    {% assign contents = page.content | strip_newlines %}
    {% if contents != "" %}
      <div class="cover__box">
        <h1 class="cover__heading u-text-center">{{ page.title }}</h1>
        <div class="cover__content u-big-text">{{ content }}</div>
      </div>
    {% endif %}
  </div>
</section>
{% if page.work_assets %}
<section class="section u-vertical-space">
  <div class="grid grid--gutter u-center-block u-center-block--large">
    {% for image in page.work_assets %}
    <div class="grid__item grid__item--third">
      <img class="u-object-fit" src="{{ image }}">
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}
